.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .empty-square {
    
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.438);
    transition: transform 0.4s;
  }
  .empty-square:hover {
    transform: scale(1.1);
  }
  .empty-square:active {
    background-color: antiquewhite;
  }

  body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(Artists.jpeg);
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
}