body {
	background-image: url('Pizza.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
  }
h1 {
	color:antiquewhite
}
div {
	color:antiquewhite
}
a {
	color:antiquewhite
}