h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink
}
table, th, td {
    margin-left: auto;
    margin-right: auto;
	border: 1px solid;
  }
div {
	font-family: fantasy;
	text-align: center;
	font-weight: bold;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	transition: all 1s;
}
img:hover {
	transform: scale(1.1);
}